html {
    box-sizing: border-box;
    font-size: 28px;
    zoom: .8;
}

h1{
    font-size: 2.4rem;
    text-align: center;
}

#overview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#guessTextBox {
    width: 100%;
    height: 1rem;
    margin-bottom: 25px;
}

#tableContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: .75rem;
    padding: 25px;
    margin-bottom: 250px;
}

#guessTable {
    border-collapse: collapse;
}

.tdCorrect {
    background-color: #1fbf3f;
}

.tdPartial {
    background-color: #f0e816;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

#info {
    font-size: .75rem;
    text-align: center;
}