{% extends 'base.html' %}

{% block title %}
Mets Guessing
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='script.js')}}" defer></script>
{% endblock %}

{% block content %}
<div id="overview">
    <div id="header">
        <h1>METS GUESSING</h1>
    </div>
    <div id="tableContainer">
        <input name="guessPlayer" type="text" maxlength="50" id="guessTextBox"/>
        <table id="guessTable">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Birthplace</th>
                <th scope="col">Position</th>
                <th scope="col">Age</th>
                <th scope="col">B</th>
                <th scope="col">T</th>
                <th scope="col">H</th>
                <th scope="col">W</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div id="info">
        You are given eight guesses to correctly guess one of the current players on the Mets' roster. A white guess indicates an incorrect property. A green guess indicates that the answer is correct. A yellow guess indicates that the geuss was within a certain margin (2 years for age, 2 inches for height, and 20 lbs for weight). Project made and maintained by Owen Capell (<a href="https://github.com/owenc21">GitHub</a>).
    </div>
</div>
{% endblock %}